.App {
  text-align: center;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'montseratt',sans-serif;
}
.app{
  background-image: url("./images/dayimg.png");
  background-position:bottom ;
  background-size:cover ;
  transition:0.5 ease-out;
}
.app.night{
  background-image:url("./images/nightimg1.png");

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

